# Claude Code local state
.claude/

# build-port staging dir
/build-port/

# Pharos files
/buildtools/pharos/dist/
/buildtools/pharos/build/
__pycache__/

# FNA files
/buildtools/fnapatches/MarvelCosmicInvasion/dev