<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode"><value>None</value></setting>
      <setting name="ExitApplicationImmediately"><value>False</value></setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>
